

// *** Global Styling
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family:  "lato", sans-serif, arial;
}


// *** Variable Declarations
$primary_color: #66a6ff;
$secondary_color: #ffffff;
$tertiary_color:#cccccc;
$light_shadow: 0px 0px 40px 2px #eeeeee;
$dark_shadow: -8px 8px 56px 8px #cccccc;

// **** mixin declarations
@mixin prices {
    color: $primary_color;
    font-weight: 700;

}

@mixin center-center{
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

}

@mixin small-margin {
    margin: 10px;
    padding: 10px;
}

@mixin grey-titles{
    text-transform: uppercase;
    color: $tertiary_color;
    font-size: 15px;
}

@mixin product-pricing {
    display: flex;
    flex-direction: row;
    width: 100%
}




// ** styling
h3 {
    @include grey-titles;
}

.container {
    &__main {
    @include center-center;
    width: 100vw;
    height: 100vh;
        &-cards{
            @include center-center;
            width: 90vh;
            height: 90vh;
        }
     }
    }

.container__details {
    @include center-center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 60%;
    width: 85%;
    background-color: lightcoral;

    &-three{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;

    }

    &-top {
        @include center-center;
        flex-direction: column;
        &-title{
            @include small-margin;

        }
                 &-price {
                     @include prices;
                     font-size: 25px;
                 }
    }

    &-middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        
        &-products{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 60%;
            .product1,
                .product2 {
                    @include product-pricing;
                    @include small-margin;
                    justify-content: space-between;
                }
                   .price {
                      @include prices;
                      display: flex;
                      flex-direction: row;
                      justify-self: flex-end;
                    }
        }

    }

    button {
        border: 2px solid $primary_color;
        background-color: white;
        color: black;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
    }
}

.container__form {
    @include center-center;
    flex-direction: column;
    position: absolute;
    left: 53%;
    background-color: $primary_color;
    z-index: 1;
    height: 30%;
    width: 35%;
       
        .name-cardnum {
            @include center-center;
            align-items: flex-start;
            height: 100%;
            flex-direction: column;
            
                .name,
                .cardnum {
                    @include center-center;
                    align-items: flex-start;
                    margin-bottom: 5px;
                    
                    flex-direction: column;
                        .label {
                            margin: 5px;
                        }
                    }
                }
        }




