body {
    text-decoration: none;
    font-family: lato;
    margin-left: 500px;

}

.vert_line{
    border-left:  6px solid #2baadf;
    height: 1580px;
    position: absolute;
    padding: 15px 32px;

    
}
h5{
    margin-left: 500px;
}
.med_pic {
    width: 300px;
    height: 300px;
}
.thumbnail{
    height: 80px;
    width: 80px;
}



a:link {
    color:#2baadf;
    text-decoration: none;
}
a:visited {
    color:#2baadf;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
.low_contrast {
    color: #cccccc;
}

.button {
    background-color: #1e33ac;
    border: none;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}